:root {
  --color-primary: #eb662e;
  --color-primary-contrast: #fff;
  --color-secondary: #151515;
  --color-secondary-contrast: #fff;

  --spacing: 1rem;
  --toolbar-height: 70px;
  --mat-sidenav-container-width: 250px;
}
