.mat-mdc-form-field-bottom-align {
  display: none;
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}

.cdk-global-overlay-wrapper {
  --mat-dialog-container-min-width: min(400px, 80%);
}

.cdk-overlay-backdrop {
  &.blur {
    backdrop-filter: blur(5px);
    background: rgba(from var(--color-secondary) r g b / 0.4);
  }
}
