<div id="container" class="p-3">
  <div class="d-flex align-items-center justify-content-between">
    <h6 class="fw-bold">{{ user ? "Criar" : "Editar" }} cliente</h6>

    <lib-button (clicked)="close()" type="icon-only" iconName="close" />
  </div>

  <div id="form" class="d-flex flex-column gap-3 my-3">
    <lib-input placeholder="Digite o nome" controlName="name" [formGroup]="form" type="text" />

    <lib-input placeholder="Digite o salário" controlName="salary" [formGroup]="form" type="currency" />

    <lib-input placeholder="Digite o valor da empresa" controlName="companyValuation" [formGroup]="form" type="currency" />
  </div>

  <lib-button (clicked)="save()">Salvar cliente</lib-button>
</div>
