<div id="container" class="h-100 w-100 d-flex flex-column align-items-center justify-content-center">
  <div id="login-box" class="d-flex flex-column gap-3">
    <img [src]="logoBlackSrc" alt="Logo" class="logo mb-5" />

    <h2 class="m-0 fw-light text-center mt-5">Olá, seja bem vindo!</h2>

    <div id="form" [formGroup]="form" class="d-flex flex-column gap-3">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Digite o seu nome" formControlName="nome"  />
      </mat-form-field>

      <button mat-flat-button class="rounded-1" (click)="login()">Entrar</button>
    </div>
  </div>
</div>
