<mat-toolbar class="w-100">
  <lib-button type="icon-only" (clicked)="toggleMenu.emit()" iconName="menu" />

  @if (isWeb) {
    <img [src]="logoBlackSrc" alt="Logo" class="ms-4 logo" />

    <span class="flex-shrink-1 flex-grow-1"></span>
  }

  <div class="buttons">
    @if (activeRoute === "users") {
      <button mat-button routerLinkActive="active" routerLink="users/list">Clientes</button>
      <button mat-button routerLinkActive="active" routerLink="users/selected">Clientes Selecionados</button>
    }
    <button mat-button (click)="logout()">Sair</button>
  </div>

  @if (isWeb) {
    <span class="flex-shrink-1 flex-grow-1"></span>

    <button mat-button>
      Olá, <span class="fw-bold">{{ (session$ | async)?.nome }}!</span>
    </button>
  }
</mat-toolbar>
